<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhom3.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_name" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VeryDifficultActivity"
            android:label="@string/very_diff" />
        <activity android:name=".Introduce1Activity">

        </activity>
        <activity
            android:name=".Introduce2Activity"
            android:label="@string/easy" />
        <activity
            android:name=".Introduce3Activity"
            android:label="@string/very_diff" />
        <activity
            android:name=".Introduce4Activity"
            android:label="@string/very_diff" />
        <activity
            android:name=".EasyActivity"
            android:label="@string/easy" />

        <activity
            android:name=".DifficultActivity"
            android:label="@string/very_diff" />
        <activity android:name=".LearningProcessActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".VeryEasyActivity"></activity>
        <activity android:name=".ChooseLevelActivity"></activity>
        <activity android:name=".ChooseTestActivity"></activity>


    </application>

</manifest>